.nav {
  grid-area: nav;
  background-color: tomato;
}

.item {
  list-style: none;
}

.item a {
    text-decoration: none;
}

.active {
    font-size: 20px;
    color: greenyellow;
}

.navLink {
    color: black;

}


